#Ignore all source tables
Databackup/
local_airflow_with_astro/
tables/
data_pipeline/cleaned_data/

#Ignore venvs and keys
venv/
*.csv
data_pipeline/venv/
.env
.venv/
.DS_Store
test_folder/
Docker files/logs/
infra/airflow-instance-key
infra/.terraform/
infra/terraform.*
infra/airflow-*
infra/terraform.tfvars
infra/airflow-*
infra/.terraform
test_folder/